[submodule "lib/ZipsPicoLib"]
	path = lib/ZipsPicoLib
	url = https://github.com/ZipsBaja/ZipsPicoLib
[submodule "lib/pico-ssd1306-ui"]
	path = lib/pico-ssd1306-ui
	url = https://github.com/zyoung71/pico-ssd1306-ui
